results/**
resources/**
logs/**
.snakemake
.snakemake/**
fasterq.tmp.tobamo.3188488
Snakefile_Old
temp_dev/**
output*.txt
*.svg
*.fasta
*.json
*.xlsx
*.pyc
*.bed
*.log
*.png
*.gif
*.csv
archive/**
training/**
analysis/model/archive/**
analysis/data/**
analysis_conda-requirements.txt
analysis_requirements.txt
analysis/model/results/**
analysis/model/scripts/archive/**
