results/**
resources/**
logs/**
.snakemake
.snakemake/**
fasterq.tmp.tobamo.3188488
Snakefile_Old
temp_dev/**
output*.txt
analysis/whole_orf/data/**
analysis/whole_orf/results/**
*.svg
*.fasta
*.json
*.xlsx
*.pyc